<div class="menu__eqLhCejx">
    <div class="menu__eJqEKUzb">
        <ul class="ant-menu ant-menu-dark ant-menu-root ant-menu-inline" role="menu">
            <li class="ant-menu-item" role="menuitem" style="padding-left: 24px;">
                <div class="all-category__bGasMfFA"><span class="icon__fWQbCstM"><svg class="icon-svg__dkVewXTS ">
                            <use xlink:href="#icon-detail-fill"></use>
                        </svg></span><span>Todos los temas</span></div>
            </li>
            <li class="ant-menu-submenu ant-menu-submenu-inline ant-menu-submenu-open" role="menuitem">
                <div class="ant-menu-submenu-title" aria-expanded="true" aria-haspopup="true"
                    title="Promoción Black Friday" style="padding-left: 24px;" aria-owns="1000052305$Menu">Promoción
                    Black Friday<i class="ant-menu-submenu-arrow" data-spm-anchor-id="0.0.0.i0.b9d72066Z9KEaS"></i>
                </div>
                <ul id="1000052305$Menu" class="ant-menu ant-menu-sub ant-menu-inline" role="menu" style=""></ul>
            </li>
            <li class="ant-menu-submenu ant-menu-submenu-inline ant-menu-submenu-open" role="menuitem">
                <div class="ant-menu-submenu-title" aria-expanded="true" aria-haspopup="true" title="Sobre AliExpress"
                    style="padding-left: 24px;" data-spm-anchor-id="0.0.0.i1.b9d72066Z9KEaS"
                    aria-owns="1000020763$Menu">Sobre AliExpress<i class="ant-menu-submenu-arrow"></i></div>
                <ul id="1000020763$Menu" class="ant-menu ant-menu-sub ant-menu-inline" role="menu" style="">
                    <li class="ant-menu-item" role="menuitem" style="padding-left: 48px;">Introducción</li>
                    <li class="ant-menu-item" role="menuitem" style="padding-left: 48px;">Registro</li>
                    <li class="ant-menu-item" role="menuitem" style="padding-left: 48px;">Verificación</li>
                    <li class="ant-menu-item" role="menuitem" style="padding-left: 48px;">Gestión de marcas</li>
                </ul>
            </li>
            <li class="ant-menu-submenu ant-menu-submenu-inline" role="menuitem">
                <div class="ant-menu-submenu-title" aria-expanded="false" aria-haspopup="true"
                    title="Gestión de productos" style="padding-left: 24px;">Gestión de productos<i
                        class="ant-menu-submenu-arrow"></i></div>
                <div></div>
            </li>
            <li class="ant-menu-submenu ant-menu-submenu-inline" role="menuitem">
                <div class="ant-menu-submenu-title" aria-expanded="false" aria-haspopup="true" title="Pedidos"
                    style="padding-left: 24px;">Pedidos<i class="ant-menu-submenu-arrow"></i></div>
                <div></div>
            </li>
            <li class="ant-menu-submenu ant-menu-submenu-inline" role="menuitem">
                <div class="ant-menu-submenu-title" aria-expanded="false" aria-haspopup="true"
                    title="Servicio de post venta" style="padding-left: 24px;">Servicio de post venta<i
                        class="ant-menu-submenu-arrow"></i></div>
                <div></div>
            </li>
            <li class="ant-menu-submenu ant-menu-submenu-inline" role="menuitem">
                <div class="ant-menu-submenu-title" aria-expanded="false" aria-haspopup="true" title="Logística"
                    style="padding-left: 24px;">Logística<i class="ant-menu-submenu-arrow"></i></div>
                <div></div>
            </li>
            <li class="ant-menu-submenu ant-menu-submenu-inline" role="menuitem">
                <div class="ant-menu-submenu-title" aria-expanded="false" aria-haspopup="true"
                    title="Gestión de finanzas" style="padding-left: 24px;">Gestión de finanzas<i
                        class="ant-menu-submenu-arrow"></i></div>
                <div></div>
            </li>
            <li class="ant-menu-submenu ant-menu-submenu-inline" role="menuitem">
                <div class="ant-menu-submenu-title" aria-expanded="false" aria-haspopup="true"
                    title="Configuración de tu cuenta" style="padding-left: 24px;">Configuración de tu cuenta<i
                        class="ant-menu-submenu-arrow"></i></div>
                <div></div>
            </li>
            <li class="ant-menu-submenu ant-menu-submenu-inline" role="menuitem">
                <div class="ant-menu-submenu-title" aria-expanded="false" aria-haspopup="true" title="Tienda"
                    style="padding-left: 24px;">Tienda<i class="ant-menu-submenu-arrow"></i></div>
                <div></div>
            </li>
            <li class="ant-menu-submenu ant-menu-submenu-inline" role="menuitem">
                <div class="ant-menu-submenu-title" aria-expanded="false" aria-haspopup="true" title="Marketing"
                    style="padding-left: 24px;">Marketing<i class="ant-menu-submenu-arrow"></i></div>
                <div></div>
            </li>
            <li class="ant-menu-submenu ant-menu-submenu-inline" role="menuitem">
                <div class="ant-menu-submenu-title" aria-expanded="false" aria-haspopup="true"
                    title="Infracciones y sanciones" style="padding-left: 24px;">Infracciones y sanciones<i
                        class="ant-menu-submenu-arrow"></i></div>
                <div></div>
            </li>
            <li class="ant-menu-submenu ant-menu-submenu-inline" role="menuitem">
                <div class="ant-menu-submenu-title" aria-expanded="false" aria-haspopup="true"
                    title="Términos y condiciones" style="padding-left: 24px;">Términos y condiciones<i
                        class="ant-menu-submenu-arrow"></i></div>
                <div></div>
            </li>
        </ul>
    </div>
</div>